src/main/mule/implementations/trvaelontip-get -routes- api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="trvaelontip-get_-routes-_apiFlow" doc:id="68fbd2ed-ef44-4218-9b3a-9ec478f2dee7" >
		<db:select doc:id="a721b69e-1077-4067-8c7a-43246ae0d38c" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM travelontiproutes.routes;

]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8d258fdf-fbc6-4258-be6c-4e7e981ce64d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fc5b5153-a5dc-44ef-9ef4-9555e3b3ce86" message="#[payload]"/>
	</flow>

	</mule>
